{%extends "Homepage.html" %}

{%block content%}

<style>
    .h2 {
        text-align: center;
    }


    .fo {
        color: #777;
        border: 0px solid #afafaf;
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
        text-align: center;
        padding: 5px;
        padding-top: 20px;
        border-radius: 3px;
        box-shadow: 0px 0px 8px #777;
        background: rgba(255, 255, 255, 0.6)
    }
</style>

<div class="fo">
    <h2>Add Recipe</h2>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="container">
            <table class="table">
                <tr>
                    <td>Recipe Name</td>
                    <td>
                        <input type="text" name="recipe_name" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Short Info</td>
                    <td>
                        <input type="text" name="shortinfo" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Ingredients</td>
                    <td>
                        <input type="text" name="ingredients" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <input type="text" name="description" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Steps</td>
                    <td>
                        <input type="text" name="steps" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>
                        <input type="file" name="image" accept="image/" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Added By</td>
                    <td>
                        <input type="text" name="addedby" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <select name="category" class="form-control" required>
                            <option value="Rice Dishes">Rice Dishes</option>
                            <option value="Curries">Curries</option>
                            <option value="Desert">Desert</option>
                            <option value="Snacks">Snacks</option>
                            <option value="Breads">Breads</option>
                            <!-- Add more options as needed -->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><button  type="submit" class="button btn-success">Submit</button></td>
                </tr>
            </table>
        </div>
    </form>
</div>
{%endblock%}